[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
feedparser = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-nav = "*"
flask-wtf = "*"
flask-login = "*"


[dev-packages]

neovim = "*"
ipython = "*"
flask-shell-ipython = "*"
jupyter-client = "*"


[requires]

python_version = "3.6"
