[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
feedparser = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

[dev-packages]
neovim = "*"
ipython = "*"

[requires]
python_version = "3.6"
