body { margin: 0; padding: 0; background: white; color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.feedlist_entry {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-webkit-box-flex: 1;
flex: 1;
padding: .65rem 0;
border-bottom: 1px solid #ddd;
}
