{% extends "bootstrap/base.html" %}

{% block title %}{% block title_prefix %}{% endblock %} - Kindly{% endblock %}

{% block styles %}
{{ super() }}
<style>
    body{
        padding-top: 60px;
    }
</style>
{% endblock %}

{% block navbar %}
{{ nav.top_navbar.render(renderer='fixed') }}
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

