{% extends 'base.html' %}
{% block title_prefix %}{{ title }}{% endblock %}
{% block app_content %}
<div class="panel-heading">
    <h1 class="panel-title">
        {{ title }}
    </h1>
</div>
<div class="panel-body">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for entry in entries.items %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                {{ entry.title }}
            </a>
        </h4>
        </div>
        <div id="collapse{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
        <div class="panel-body">
            {% if entry.summary %}
            <a href="{{ url_for('read', url=entry.link, article_title=entry.title) }}">
            {{ entry.summary|striptags }}
            </a>
            {% endif %}
        </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{{ render_pagination(entries, size='lg') }}

{% endblock %}

