{% extends 'base.html' %}
{% block title_prefix %}Manage User Profile{% endblock %}
{% block app_content %}
{% if feeds|length %}
<div class="panel panel-default">
    <div class="panel-heading"><h2 class="panel-title">Your feeds</h2></div>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
        {% for feed in feeds %}
        <tr>
            <td>{{ feed.title }}</td>
            <td>{{ feed.url }}</td>
            <td>{{ form_button(url_for('delete', feed_id=feed.id), icon('remove') + ' Delete', method='GET', class='btn btn-danger') }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading"><h2 class="panel-title">Add a new feed</h2></div>
    <div class="panel-body">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}
